# Аудио и расшифровки
audio/*
!audio/.gitkeep
transcripts/*
!transcripts/.gitkeep

# Модели
models/
*.pt

# Виртуальные окружения
.venv/
venv/
*_env

# Кеши и служебные файлы
__pycache__/
*.egg-info/
.DS_Store

# VSCode
.vscode/